.main-div{
    margin: auto;
    width: 50vw;
    border: 5px solid black ;
    padding: 5px;
    border-radius: 5px; 
}

#calc-input{ 
    width: 95%;
    margin: 5px;
    height: 20vh;
}

.numbers{
    display: grid;
    grid-auto-rows: 10vh ;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1em ;
    
}

.num{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #222;
    color: #fff;
}
.num:nth-child(odd){
    
    background-color: #333;
}